@charset "utf-8";
@media screen and (max-width: 1430px) {
  .shortcut .inner {
    max-width: 1400px;
    margin: 0 auto;
    padding: 45px 20px;
  }
  .recommend .inner {
    max-width: 1400px;
    margin: 0 auto;
    padding: 45px 20px;
  }
}
@media screen and (max-width: 1389px) {
  .recommend > .inner > ul > li {
    width: calc(100% / 4 - 1%);
    height: 100%;
    min-height: 450px;
    border-radius: 30px;
    box-shadow: 3px 3px 10px 0px #c3c3c3;
  }
  .gangbox {
    padding: 7%;
    cursor: pointer;
    /* background-color: aquamarine; */
    max-width: 346px;
    max-height: 240px;
    overflow-y: auto;
    overflow-x: auto;
  }
  .offline {
    font-family: "Pretendard";
    font-weight: bold;
    font-size: 1rem;
    color: #333;
    background-color: #aad9bb;
    border-radius: 20px;
    padding: 2% 3%;
  }
  .online {
    font-family: "Pretendard";
    font-weight: bold;
    font-size: 1rem;
    color: #333;
    background-color: #d5f0c1;
    border-radius: 20px;
    padding: 2% 3%;
  }
  .ksas {
    font-size: 1.2rem;
    font-weight: bold;
    color: #242424;
    padding: 8% 0% 4% 0%;
  }
  .ksas2 {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 140%;
  }
}
@media screen and (max-width: 1383px) {
  .shortcutbtn > li > .padding > .shortbtnti {
    z-index: 99;
    font-family: "GangwonEduPowerExtraBoldA";
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0 10%;
    padding-bottom: 10%;
    text-align: center;
    /* 추가적인 스타일링이 필요할 경우 여기에 추가 */
  }
}
@media screen and (max-width: 1250px) {
  .recommend > .inner > ul > li {
    width: calc(100% / 4 - 1%);
    height: 100%;
    min-height: 440px;
    border-radius: 30px;
    box-shadow: 3px 3px 10px 0px #c3c3c3;
  }
  .gangbox {
    padding: 7%;
    cursor: pointer;
    /* background-color: aquamarine; */
    max-width: 346px;
    max-height: 240px;
    overflow-y: auto;
    overflow-x: auto;
  }
}
@media screen and (max-width: 1228px) {
  .recommend > .inner > ul > li {
    width: calc(100% / 4 - 1%);
    height: 100%;
    min-height: 430px;
    border-radius: 30px;
    box-shadow: 3px 3px 10px 0px #c3c3c3;
  }
  .gangbox {
    padding: 7%;
    cursor: pointer;
    /* background-color: aquamarine; */
    max-width: 346px;
    max-height: 240px;
    overflow-y: auto;
    overflow-x: auto;
  }
}
@media screen and (max-width: 1191px) {
  .gangboxtit {
    font-family: "Pretendard";
    font-weight: 500;
    font-size: 0.9rem;
    color: #959595;
    padding-left: 2%;
  }
}
@media screen and (max-width: 1191px) {
  .shortcutbtn > li > .padding > .shortbtnti {
    z-index: 99;
    font-family: "GangwonEduPowerExtraBoldA";
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0 5%;
    padding-bottom: 10%;
    text-align: center;
    /* 추가적인 스타일링이 필요할 경우 여기에 추가 */
  }
}
@media screen and (max-width: 1089px) {
  .section-title {
    padding-bottom: 1.3%;
    font-size: 2.2rem;
  }
  .find {
    font-family: "Pretendard-Regular";
    font-size: 1.9rem;
    color: #333;
    padding-bottom: 1%;
  }
  .recommend > .inner > ul > li {
    width: calc(100% / 4 - 1%);
    height: 100%;
    min-height: 370px;
    border-radius: 30px;
    box-shadow: 3px 3px 10px 0px #c3c3c3;
  }
  .gangbox {
    padding: 7%;
    cursor: pointer;
    /* background-color: aquamarine; */
    max-width: 346px;
    max-height: 240px;
    overflow-y: auto;
    overflow-x: auto;
  }
  .ksas {
    font-size: 1rem;
    font-weight: bold;
    color: #242424;
    padding: 8% 0% 4% 0%;
  }
  .ksas2 {
    font-size: 1rem;
    font-weight: 500;
    line-height: 140%;
  }
  .recommendmore {
    font-family: "Pretendard";
    font-size: 1.4rem;
    font-weight: 500;
    color: #333;
    margin-left: 5%;
    transition: font-weight 0.3s ease;
}
}
@media screen and (max-width: 1050px) {
  .offline {
    font-family: "Pretendard";
    font-weight: bold;
    font-size: 0.8rem;
    color: #333;
    background-color: #aad9bb;
    border-radius: 20px;
    padding: 2% 3%;
  }
  .online {
    font-family: "Pretendard";
    font-weight: bold;
    font-size: 0.8rem;
    color: #333;
    background-color: #d5f0c1;
    border-radius: 20px;
    padding: 2% 3%;
  }
  .gangboxtit {
    font-family: "Pretendard";
    font-weight: 500;
    font-size: 0.8rem;
    color: #959595;
    padding-left: 2%;
  }
}
@media screen and (max-width: 978px) {
  .shortcutbtn > li > .padding > .shortbtnti {
    z-index: 99;
    font-family: "GangwonEduPowerExtraBoldA";
    font-size: 1rem;
    font-weight: 600;
    padding: 0 5%;
    padding-bottom: 10%;
    text-align: center;
    /* 추가적인 스타일링이 필요할 경우 여기에 추가 */
  }
  .recommendmore {
    font-family: "Pretendard";
    font-size: 1.2rem;
    font-weight: 500;
    color: #333;
    margin-left: 5%;
    transition: font-weight 0.3s ease;
}
}
@media screen and (max-width: 916px) {
  .recommend > .inner > ul > li {
    width: calc(100% / 4 - 1%);
    height: 100%;
    min-height: 340px;
    border-radius: 30px;
    box-shadow: 3px 3px 10px 0px #c3c3c3;
  }
}
@media screen and (max-width: 892px) {
  .shortcutbtn > li > .padding > .shortbtnti {
    z-index: 99;
    font-family: "GangwonEduPowerExtraBoldA";
    font-size: 0.9rem;
    font-weight: 600;
    padding: 0 5%;
    padding-bottom: 10%;
    text-align: center;
    /* 추가적인 스타일링이 필요할 경우 여기에 추가 */
  }
}
@media screen and (max-width: 874px) {
  .gangbox {
    padding: 4%;
    cursor: pointer;
    /* background-color: aquamarine; */
    max-width: 346px;
    max-height: 217px;
    overflow-y: auto;
    overflow-x: auto;
  }
}
@media screen and (max-width: 861px) {
  .section-title {
    padding-bottom: 1.3%;
    font-size: 2rem;
  }
  .find {
    font-family: "Pretendard-Regular";
    font-size: 1.6rem;
    color: #333;
    padding-bottom: 1%;
  }
  .recommendmore {
    font-family: "Pretendard";
    font-size: 1.1rem;
    font-weight: 500;
    color: #333;
    margin-left: 5%;
    transition: font-weight 0.3s ease;
}
}
@media screen and (max-width: 808px) {
  .shortcutbtn > li > .padding > .shortbtnti {
    z-index: 99;
    font-family: "GangwonEduPowerExtraBoldA";
    font-size: 0.8rem;
    font-weight: 600;
    padding: 0 5%;
    padding-bottom: 10%;
    text-align: center;
    /* 추가적인 스타일링이 필요할 경우 여기에 추가 */
  }
}
@media screen and (max-width: 768px) {
  .shortcut .inner {
    width: 100%;
    padding: 10% 4%;
  }
  .sidebtn {
    display: none;
  }
  .section-title {
    font-family: "GangwonEduPowerExtraBoldA";
    font-size: 2.3rem;
    font-weight: 700;
  }
  .find {
    font-family: "Pretendard-Regular";
    font-size: 2rem;
    color: #333;
    padding-bottom: 1.5%;
  }
  .shortcutbtn {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5%;
  }
  .shortcutbtn > li {
    width: calc(100% / 3 - 1%);
    height: 100%;
  }
  .shortcutbtn > li > .padding > .shortbtnti {
    z-index: 99;
    font-family: "GangwonEduPowerExtraBoldA";
    font-size: 1.4rem;
    font-weight: 600;
    padding: 0 10%;
    padding-bottom: 10%;
    text-align: center;
    /* 추가적인 스타일링이 필요할 경우 여기에 추가 */
  }
  /* recommend */
  .recommend .inner {
    width: 100%;
    padding: 10% 4%;
  }
  .recommend > .inner > ul > li {
    width: calc(100% / 2 - 1%);
    /* height: 100%; */
    min-height: 470px;
    border-radius: 30px;
    box-shadow: 3px 3px 10px 0px #c3c3c3;
  }
  .recommend > .inner > ul > li:nth-child(2) {
    display: none;
  }
  .recommend > .inner > ul > li:nth-child(3) {
    display: none;
  }
  .gangbox {
    padding: 7%;
    cursor: pointer;
    /* background-color: aquamarine; */
    width: 100%;
    max-height: 217px;
    overflow-y: auto;
    overflow-x: auto;
  }
  .morebtn {
    display: flex;
    margin-bottom: 1.3%;
    cursor: pointer;
    align-items: center;
    width: 26%;
    float: right;
}
  .morebtn > img,
  .recommendmore {
    display: inline-block; /* img와 recommendmore를 inline-block으로 설정 */
    vertical-align: middle; /* 수직 중앙 정렬 */
    transition: transform 0.3s ease, font-weight 0.3s ease; /* 부드러운 변환 효과 */
  }

  .morebtn > img {
    width: 27%;
    transition: transform 0.3s ease; /* img 변환에 대한 부드러운 효과 */
  }

  .recommendmore {
    font-family: "Pretendard-Regular";
    font-size: 1.6rem;
    font-weight: 500;
    color: #333;
    margin-left: 3%; /* img와 recommendmore 사이 간격 */
    transition: font-weight 0.3s ease; /* 폰트 굵기 변환에 대한 부드러운 효과 */
  }
  .offline {
    font-family: "Pretendard";
    font-weight: bold;
    font-size: 1rem;
    color: #333;
    background-color: #aad9bb;
    border-radius: 20px;
    padding: 2% 3%;
  }
  .online {
    font-family: "Pretendard";
    font-weight: bold;
    font-size: 1rem;
    color: #333;
    background-color: #d5f0c1;
    border-radius: 20px;
    padding: 2% 3%;
  }
  .ksas {
    font-size: 1.2rem;
    font-weight: bold;
    color: #242424;
    padding: 8% 0% 4% 0%;
    white-space: nowrap;
  }
  .ksas2 {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 140%;
  }
  .card {
    font-size: 1.2rem;
    margin-top: 3%;
    color: #c2c2c2;
  }
}
@media screen and (max-width: 716px) {
  .recommend > .inner > ul > li {
    width: calc(100% / 2 - 1%);
    /* height: 100%; */
    min-height: 460px;
    border-radius: 30px;
    box-shadow: 3px 3px 10px 0px #c3c3c3;
  }
}
@media screen and (max-width: 696px) {
  .shortcutbtn > li > .padding > .shortbtnti {
    z-index: 99;
    font-family: "GangwonEduPowerExtraBoldA";
    font-size: 1.3rem;
    font-weight: 600;
    padding: 0 10%;
    padding-bottom: 10%;
    text-align: center;
    /* 추가적인 스타일링이 필요할 경우 여기에 추가 */
  }
}
@media screen and (max-width: 678px) {
  .recommend > .inner > ul > li {
    width: calc(100% / 2 - 1%);
    /* height: 100%; */
    min-height: 450px;
    border-radius: 30px;
    box-shadow: 3px 3px 10px 0px #c3c3c3;
  }
}
@media screen and (max-width: 652px) {
  .section-title {
    font-size: 2.3rem;
    padding-bottom: 1.3%;
  }
  .find {
    font-family: "Pretendard-Regular";
    font-size: 1.7rem;
    color: #333;
    padding-bottom: 1%;
  }
  .shortcutbtn > li > .padding > .shortbtnti {
    z-index: 99;
    font-family: "GangwonEduPowerExtraBoldA";
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0 10%;
    padding-bottom: 10%;
    text-align: center;
    /* 추가적인 스타일링이 필요할 경우 여기에 추가 */
  }
}
@media screen and (max-width: 612px) {
  .morebtn {
    display: flex;
    margin-bottom: 1.3%;
    cursor: pointer;
    align-items: center;
    width: 30%;
    float: right;
}
}
@media screen and (max-width: 596px) {
  .section-title {
    font-size: 2.1rem;
    padding-bottom: 1.3%;
  }
  .find {
    font-family: "Pretendard-Regular";
    font-size: 1.5rem;
    color: #333;
    padding-bottom: 1%;
  }
  .shortcutbtn > li > .padding > .shortbtnti {
    z-index: 99;
    font-family: "GangwonEduPowerExtraBoldA";
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0 10%;
    padding-bottom: 10%;
    text-align: center;
    /* 추가적인 스타일링이 필요할 경우 여기에 추가 */
  }
  .recommend > .inner > ul > li {
    width: calc(100% / 2 - 1%);
    /* height: 100%; */
    min-height: 430px;
    border-radius: 30px;
    box-shadow: 3px 3px 10px 0px #c3c3c3;
  }
  .gangboxtit {
    font-family: "Pretendard";
    font-weight: 500;
    font-size: 0.9rem;
    color: #959595;
    padding-left: 2%;
  }
}
@media screen and (max-width: 547px) {
  .section-title {
    font-size: 1.9rem;
    padding-bottom: 1.3%;
  }
  .find {
    font-family: "Pretendard-Regular";
    font-size: 1.3rem;
    color: #333;
    padding-bottom: 1%;
  }
  .shortcutbtn > li > .padding > .shortbtnti {
    z-index: 99;
    font-family: "GangwonEduPowerExtraBoldA";
    font-size: 1rem;
    font-weight: 600;
    padding: 0 10%;
    padding-bottom: 10%;
    text-align: center;
    /* 추가적인 스타일링이 필요할 경우 여기에 추가 */
  }
}
@media screen and (max-width: 536px) {
  .recommend > .inner > ul > li {
    width: calc(100% / 2 - 1%);
    /* height: 100%; */
    min-height: 410px;
    border-radius: 30px;
    box-shadow: 3px 3px 10px 0px #c3c3c3;
  }
  .morebtn {
    display: flex;
    margin-bottom: 1.3%;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    float: right;
}
.recommendmore {
  font-family: "Pretendard";
  font-size: 1.3rem;
  font-weight: 500;
  color: #333;
  margin-left: 5%; /* img와 recommendmore 사이 간격 */
  transition: font-weight 0.3s ease; /* 폰트 굵기 변환에 대한 부드러운 효과 */
}
}

@media screen and (max-width: 500px) {
  .shortcut .inner {
    position: relative;
    width: 100%;
    padding: 10% 4%;
  }
  .section-title {
    font-family: "GangwonEduPowerExtraBoldA";
    font-size: 2.5rem;
    font-weight: 700;
  }
  .find {
    font-family: "Pretendard-Regular";
    font-size: 1.7rem;
    color: #333;
    padding-bottom: 5%;
  }
  .shortcutbtn {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5%;
  }
  .shortcutbtn > li {
    position: relative;
    width: calc(100% / 2 - 1%);
    height: 100%;
    margin-top: 1%;
  }
  .shortcutbtn > li > .padding > .shortbtnti {
    z-index: 99;
    font-family: "GangwonEduPowerExtraBoldA";
    font-size: 1.3rem;
    font-weight: 600;
    padding: 0 10%;
    padding-bottom: 10%;
    text-align: center;
    /* 추가적인 스타일링이 필요할 경우 여기에 추가 */
  }
  /* recommend */
  .recommend .inner {
    width: 100%;
    padding: 10% 4%;
    position: relative;
  }
  .recommend > .inner > ul {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .recommend > .inner > ul > li {
    width: calc(100% - 1%);
    height: 100%;
    min-height: 400px;
    border-radius: 30px;
    box-shadow: 3px 3px 10px 0px #c3c3c3;
    margin-top: 7%;
  }
  .recommend > .inner > ul > li:nth-child(2) {
    display: none;
  }
  .recommend > .inner > ul > li:nth-child(3) {
    display: none;
  }
  .gangbox {
    padding: 6%;
    cursor: pointer;
    /* background-color: aquamarine; */
    max-width: 455px;
    max-height: 206px;
    overflow-y: auto;
    overflow-x: auto;
  }
  .offline {
    font-family: "Pretendard";
    font-weight: bold;
    font-size: 1.4rem;
    color: #333;
    background-color: #aad9bb;
    border-radius: 20px;
    padding: 2% 3%;
  }
  .online {
    font-family: "Pretendard";
    font-weight: bold;
    font-size: 1.4rem;
    color: #333;
    background-color: #d5f0c1;
    border-radius: 20px;
    padding: 2% 3%;
  }
  .gangboxtit {
    font-family: "Pretendard";
    font-weight: 500;
    font-size: 1.3rem;
    color: #959595;
    padding-left: 2%;
  }
  .ksas {
    font-size: 1.4rem;
    font-weight: bold;
    color: #242424;
    padding: 6% 0% 4% 0%;
  }
  .ksas2 {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 140%;
  }
  .morebtn {
    position: absolute;
    bottom: -1%;
    left: 30%;
    width: 42%;
    margin-bottom: 1.3%;
    cursor: pointer; /* 마우스 오버 시 커서 변경 */
  }

  .morebtn > img,
  .recommendmore {
    display: inline-block; /* img와 recommendmore를 inline-block으로 설정 */
    vertical-align: middle; /* 수직 중앙 정렬 */
    transition: transform 0.3s ease, font-weight 0.3s ease; /* 부드러운 변환 효과 */
  }

  .morebtn > img {
    width: 32%;
    transition: transform 0.3s ease; /* img 변환에 대한 부드러운 효과 */
  }

  .recommendmore {
    font-family: "Pretendard-Regular";
    font-size: 1.6rem;
    font-weight: 500;
    color: #333;
    margin-left: 3%; /* img와 recommendmore 사이 간격 */
    transition: font-weight 0.3s ease; /* 폰트 굵기 변환에 대한 부드러운 효과 */
  }

  .card {
    font-size: 1rem;
    margin-top: 3%;
    color: #c2c2c2;
  }
}
@media screen and (max-width: 462px) {
  .gangbox {
    padding: 5%;
    cursor: pointer;
    /* background-color: aquamarine; */
    max-width: 420px;
    max-height: 206px;
    overflow-y: auto;
    overflow-x: auto;
  }
}
@media screen and (max-width: 426px) {
  .shortcutbtn > li > .padding > .shortbtnti {
    z-index: 99;
    font-family: "GangwonEduPowerExtraBoldA";
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0 10%;
    padding-bottom: 10%;
    text-align: center;
    /* 추가적인 스타일링이 필요할 경우 여기에 추가 */
  }
}
@media screen and (max-width: 390px) {
  .offline {
    font-family: "Pretendard";
    font-weight: bold;
    font-size: 1rem;
    color: #333;
    background-color: #aad9bb;
    border-radius: 20px;
    padding: 2% 3%;
  }
  .online {
    font-family: "Pretendard";
    font-weight: bold;
    font-size: 1rem;
    color: #333;
    background-color: #d5f0c1;
    border-radius: 20px;
    padding: 2% 3%;
  }
  .gangboxtit {
    font-family: "Pretendard";
    font-weight: 500;
    font-size: 1.1rem;
    color: #959595;
    padding-left: 2%;
  }
  .ksas {
    font-size: 1.2rem;
    font-weight: bold;
    color: #242424;
    padding: 6% 0% 4% 0%;
  }
  .ksas2 {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 140%;
  }
}
@media screen and (max-width: 364px) {
  .shortcutbtn > li > .padding > .shortbtnti {
    z-index: 99;
    font-family: "GangwonEduPowerExtraBoldA";
    font-size: 1rem;
    font-weight: 600;
    padding: 0 10%;
    padding-bottom: 10%;
    text-align: center;
    /* 추가적인 스타일링이 필요할 경우 여기에 추가 */
  }
}
@media screen and (max-width: 320px) {
  .shortcut .inner {
    width: 100%;
    padding: 10% 4%;
  }
  .section-title {
    font-family: "GangwonEduPowerExtraBoldA";
    font-size: 1.8rem;
    font-weight: 700;
  }
  .find {
    font-family: "Pretendard-Regular";
    font-size: 1.5rem;
    color: #333;
    padding-bottom: 5%;
  }
  .shortcutbtn {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5%;
  }
  .shortcutbtn > li {
    position: relative;
    width: calc(100% / 2 - 1%);
    height: 100%;
    margin-top: 1%;
  }
  /* recommend */
  .recommend .inner {
    width: 100%;
    padding: 10% 4%;
    position: relative;
  }
  .recommend > .inner > ul {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .recommend > .inner > ul > li {
    width: calc(100% - 1%);
    height: 100%;
    min-height: 400px;
    border-radius: 30px;
    box-shadow: 3px 3px 10px 0px #c3c3c3;
    margin-top: 7%;
  }
  .recommend > .inner > ul > li:nth-child(2) {
    display: none;
  }
  .recommend > .inner > ul > li:nth-child(3) {
    display: none;
  }
  .shortcutbtn > li > .padding > .shortbtnti {
    z-index: 99;
    font-family: "GangwonEduPowerExtraBoldA";
    font-size: 1rem;
    font-weight: 600;
    padding: 0 10%;
    padding-bottom: 10%;
    text-align: center;
    /* 추가적인 스타일링이 필요할 경우 여기에 추가 */
  }
  .gangbox {
    padding: 7%;
    cursor: pointer;
    /* background-color: aquamarine; */
    min-width: 291px;
    max-height: 206px;
    overflow-y: auto;
    overflow-x: auto;
  }
  .offline {
    font-family: "Pretendard";
    font-weight: bold;
    font-size: 0.9rem;
    color: #333;
    background-color: #aad9bb;
    border-radius: 20px;
    padding: 2% 3%;
  }
  .online {
    font-family: "Pretendard";
    font-weight: bold;
    font-size: 1.2rem;
    color: #333;
    background-color: #d5f0c1;
    border-radius: 20px;
    padding: 2% 3%;
  }
  .gangboxtit {
    font-family: "Pretendard";
    font-weight: 500;
    font-size: 1rem;
    color: #959595;
    padding-left: 2%;
  }
  .ksas {
    font-size: 1.1rem;
    font-weight: bold;
    color: #242424;
    padding: 8% 0% 4% 0%;
  }
  .ksas2 {
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 140%;
  }
  .morebtn {
    /* background-color: aqua; */
    position: absolute;
    left: 25%;
    bottom: 0;
    justify-content: center;
  }
  .morebtn > img {
    width: 25%;
  }
  .recommendmore {
    font-family: "Pretendard-Regular";
    font-size: 1.5rem;
    padding-left: 3%;
    color: #333;
  }
  .card {
    font-size: 1rem;
    margin-top: 3%;
    color: #c2c2c2;
  }
}
