@charset "utf-8";
/* review 영역 */
.review {
  position: relative;
  display: block;
}
.review .inner {
  height: 100vh;
  padding: 7% 0;
}
.sw-review {
  width: 100%;
  height: 100%;
  padding: 10% 0 0;
}
.sw-review .fa-solid {
  position: absolute;
  top: 30px;
  right: 0;
  font-size: 43px;
}
.sw-review .swiper-wrapper {
  width: 100%;
  height: 100%;
  transition-timing-function: linear;
}
.sw-review .swiper-slide {
  width: 68%;
  height: 100%;
  margin-right: 15px;
}
/* big slide */
.swreview-wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
.sw-review-left {
  display: block;
  width: 40%;
  height: 100%;
  padding: 35px;
  background-color: #f2f2f2;
  border-radius: 35px 0 0 35px;
}
.sw-review-left img {
  vertical-align: top;
  padding-right: 15px;
}
.review-title {
  display: inline-block;
  padding: 5px 25px;
  margin-bottom: 14%;
  font-size: 1.625rem;
  font-weight: 700;
  text-align: center;
  border-radius: 15px;
  background-color: #fff;
}
.review-info-title {
  font-size: 1.625rem;
  font-weight: 700;
  line-height: 1.24;
  padding-left: 5%;
  margin-bottom: 14%;
  /* 줄바꿈 방지 */
  white-space: nowrap;
  /* 말줄임 표시 (...) 추가 */
  text-overflow: ellipsis;
  /* 넘치는 거 방지 */
  overflow: hidden;
  /* 상대너비 설정 */
  max-width: 100%;
}
.review-info-sub {
  padding-left: 5%;
  font-size: 1.25rem;
  color: #3e4149;
}
.review-year {
  padding-left: 5%;
  margin-top: 85%;
  color: #959595;
}
.swreview-right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 100%;
  padding: 65px;
  background-color: #aad9bb;
  border-radius: 0 35px 35px 0;
}
.swreview-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 35px;
}
/* small-slide */
.sw-review .mini{
  width: 30%;
}
.swreview-mini-wrap {
  width: 100%;
  height: 100%;
  flex-direction: column;
}
.srl-mini {
  width: 100%;
  height: 60%;
  border-radius: 35px 35px 0 0;
}
.srl-mini .review-year {
  margin-top: 25%;
}
.srr-mini {
  width: 100%;
  height: 40%;
  padding: 0;
  border-radius: 0 0 35px 35px;
  overflow: hidden;
}
.srr-mini img {
  width: 100%;
  height: 100%;
  border-radius: 0;
}
